body{
    background-color: lightslategray;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 700;
}

.error
{
    text-align: center;
    background-color: teal;
    color:magenta;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 500px;
    border-radius: 20px;
}

.header{
    text-align: center;
    background-color: teal;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.container{
    margin-top: 95px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#block{
    background-color: teal;
    width: 600px;
    min-height: 175px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#leftBlock{
    float: left;
    padding: 15px;
    width: 400px;

}

#rightBlock{
    float: left;
    width: 170px;
    text-align: center;
    padding-top: 35px;

}

p.t{
    margin-top: 350px;
    font-size: 80px;
}



#block:hover{
    background-color: lightseagreen;
    cursor: not-allowed;
}

.footer{
    text-align: center;
    padding: 10px;
    position: fixed; 
    bottom: 0; 
    font-size: 10px;
    color: darkblue;
}

.footer:hover{
    color: magenta;

}